/**************************************************
 PRODUCT PAGE STYLES
**************************************************/

.product {
  padding: 3em $side-padding;
  border-bottom: 1px solid $border-color;
  @include break-up($medium){
    float: left;
    width: 60%;
    padding: 4.5em;
    border-bottom: none;
  }
  @include break-up($x-large){
    width: 66.66%;
  }
  &__header {
    h1 {
      color: $lt-brown;
      font-family: $garamond;
      margin: 0;
    }
    p {
      margin: .75em 0;
    }
    .spacer {
      color: $lt-brown;
      margin: 0 .5em;
    }
    .add {
      color: $black;
      &:hover,
      &:focus {
        color: $lt-brown;
      }
    }
    .back {
      @include font-size(11);
      display: block;
      float: left;
      color: $lt-gray;
      text-transform: uppercase;
      &:hover,
      &:focus {
        color: $black;
      }
    }
  }
  &__photo {
    img {
      display: block;
      width: 100%;
      max-width: none;
    }
  }
  &__details {
    @include break-up($medium){
      float: right;
      width: 40%;
      padding-top: 7.5em;
      border-left: 1px solid $border-color;
      border-right: 1px solid $border-color;
    }
    @include break-up($large){
      padding-top: 9em;
    }
    @include break-up($x-large){
      padding-top: 12em;
      width: 33.33%;
    }
    .group {
      position: relative;
      padding: 4.5em $side-padding 1.5em;
      @include break-up($medium){
        padding-left: 1em;
        padding-right: 1em;
      }
      &__heading {
        @include font-size(14);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
        padding: 1em $side-padding;
        background-color: $x-lt-brown;
        color: $white;
        text-transform: uppercase;
        @include break-up($medium){
          padding: 1em;
        }
      }
      .product-dimensions {
        @include font-size(14);
        color: $x-lt-gray;
      }
    }
    .share-links {
      list-style: none;
      margin: 0;
      padding: 4.5em $side-padding 6em;
      text-align: center;
      @include break-up($medium){
        padding: 6em 1.5em 7.5em;
      }
      li {
        @include inline-block();
        @include font-size(10);
        line-height: normal;
        margin: 0 .25em;
        a {
          overflow: hidden;
          display: block;
          height: 0;
          width: 3.2em;
          padding-top: 3em;
          border: 1px solid $lt-gray;
          background-repeat: no-repeat;
          background-position: 0 0;
          @include hires(
            "../img/graphics/share-sprite-01.png",
            "../img/graphics/share-sprite-01-2x.png"
          );
          &:hover,
          &:focus {
            @include opacity(.5);
          }
        }
      }
      .print a { background-position: 50% 0 }
      .email a { background-position: 50% -60px }
      .pinterest a { background-position: 50% -90px }
      .twitter a { background-position: 50% -120px }
      .facebook a { background-position: 50% -150px }
    }
  }
}

.gallery {
  overflow: hidden;
  background-color: $dk-gray;
  &__images {
    @extend %site-column;
    clear: both;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    li {
      float: left;
      width: 50%;
      margin: 0;
      @include break-up($medium){
        width: 33.33%;
      }
    }
    img {
      display: block;
      width: 100%;
      max-width: none;
    }
  }
}