/**************************************************
 VARIABLES
**************************************************/
/**************************************************
 HELPERS
**************************************************/
/**************************************************
 RESET STYLES
**************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer,
header, hgroup, main, menu, nav, section, summary {
  display: block; }

label, input[type='button'], input[type='submit'],
button,
input[type="submit"], input[type="submit"], a {
  cursor: pointer; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

address, caption, cite, code, dfn, th, var {
  font-style: normal;
  font-weight: normal; }

a {
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

a:hover, a:active {
  outline: none; }

img, object, embed {
  max-width: 100%;
  height: auto !important;
  border: 0; }

.ie8 img, .ie8 object, .ie8 embed {
  width: auto; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

em, i {
  font-style: italic; }

strong, b {
  font-weight: bold; }

em > strong, strong > em {
  font-weight: bold;
  font-style: italic; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

sub, sup {
  font-size: .75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word; }

pre, code, kbd, samp {
  font-family: "courier new", monospace, serif;
  font-size: 1em; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

ins {
  color: #231f20;
  text-decoration: none; }

del {
  text-decoration: line-through; }

mark {
  color: #231f20; }

abbr {
  cursor: help; }

textarea {
  overflow: auto; }

input, select {
  vertical-align: middle; }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline; }

select, input, textarea {
  font: 99% sans-serif; }

button, input[type="submit"], input[type="submit"] {
  width: auto;
  overflow: visible; }

button, input[type="submit"], input[type="submit"], input, select, textarea {
  margin: 0; }

table {
  font-size: inherit;
  font: 100%; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td, td img {
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #231f20;
  margin: 1em 0;
  padding: 0; }

html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/**************************************************
 EXTENDABLE STYLES
**************************************************/
.site-header, .site-footer, .site-footer__nav, .bottom, .main, .product-list, .cart__header, .cart__header .inner, .cart__item, .cart__item aside, .cart__footer, .checkout__header, .checkout__header .inner, .checkout__header__steps, .checkout__form, .checkout__registration__form {
  zoom: 1; }
  .site-header:before, .site-footer:before, .site-footer__nav:before, .bottom:before, .main:before, .product-list:before, .cart__header:before, .cart__header .inner:before, .cart__item:before, .cart__item aside:before, .cart__footer:before, .checkout__header:before, .checkout__header .inner:before, .checkout__header__steps:before, .checkout__form:before, .checkout__registration__form:before, .site-header:after, .site-footer:after, .site-footer__nav:after, .bottom:after, .main:after, .product-list:after, .cart__header:after, .cart__header .inner:after, .cart__item:after, .cart__item aside:after, .cart__footer:after, .checkout__header:after, .checkout__header .inner:after, .checkout__header__steps:after, .checkout__form:after, .checkout__registration__form:after {
    display: table;
    visibility: hidden;
    content: ""; }
  .site-header:after, .site-footer:after, .site-footer__nav:after, .bottom:after, .main:after, .product-list:after, .cart__header:after, .cart__header .inner:after, .cart__item:after, .cart__item aside:after, .cart__footer:after, .checkout__header:after, .checkout__header .inner:after, .checkout__header__steps:after, .checkout__form:after, .checkout__registration__form:after {
    clear: both; }

a, button, input[type="submit"], .site-header__collections .nav-toggle {
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease; }

/**************************************************
 BASE STYLES
**************************************************/
::selection {
  background: rgba(36, 34, 29, 0.5);
  text-shadow: none;
  color: #fff; }

::-moz-selection {
  background: rgba(36, 34, 29, 0.5);
  text-shadow: none;
  color: #fff; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

@media only screen and (max-device-width: 480px) {
  html {
    -webkit-text-size-adjust: none; }

  a:link {
    -webkit-tap-highlight-color: rgba(36, 34, 29, 0.5); } }
html {
  font-size: 62.5%; }

body {
  background-color: #fff;
  color: #231f20;
  font-family: "PT Sans", Helmet, Freesans, sans-serif; }

/**************************************************
 LAYOUT STYLES
**************************************************/
.inner, .gallery__images {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto; }

/**************************************************
 DEFAULT LINK STYLES
**************************************************/
a {
  text-decoration: none;
  color: #a79a81; }
  a:hover, a:focus {
    color: #383739; }

/**************************************************
 DEFAULT TYPE STYLES
**************************************************/
h1, h2, h3, h4, h5, h6 {
  margin: 1em 0;
  font-weight: 400; }

h1 {
  font-size: 26px;
  font-size: 2.6rem; }

h2 {
  font-size: 20px;
  font-size: 2rem; }

h3 {
  font-size: 16px;
  font-size: 1.6rem; }

h4 {
  font-size: 14px;
  font-size: 1.4rem; }

h5 {
  font-size: 14px;
  font-size: 1.4rem; }

h6 {
  font-size: 12px;
  font-size: 1.2rem; }

@media screen and (min-width: 33.75em) {
  h1 {
    font-size: 32px;
    font-size: 3.2rem; }

  h2 {
    font-size: 26px;
    font-size: 2.6rem; }

  h3 {
    font-size: 20px;
    font-size: 2rem; }

  h4 {
    font-size: 16px;
    font-size: 1.6rem; } }
@media screen and (min-width: 56.25em) {
  h1 {
    font-size: 38px;
    font-size: 3.8rem; }

  h2 {
    font-size: 32px;
    font-size: 3.2rem; }

  h3 {
    font-size: 26px;
    font-size: 2.6rem; }

  h4 {
    font-size: 20px;
    font-size: 2rem; }

  h5 {
    font-size: 16px;
    font-size: 1.6rem; }

  h6 {
    font-size: 14px;
    font-size: 1.4rem; } }
p, ul li, ol li, address {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.4; }

p {
  margin: 1em 0; }

ol {
  list-style-type: decimal; }

ul {
  list-style-type: square; }

ul, ol {
  margin: 1em 0 1em 1.75em; }
  ul li, ol li {
    margin-bottom: 0.25em; }

blockquote {
  font-size: 16px;
  font-size: 1.6rem;
  margin: 2em;
  padding: 1.25em .75em;
  border: 1px solid #a79a81;
  border-left: none;
  border-right: none;
  text-align: center;
  line-height: 1.4; }
  @media screen and (min-width: 33.75em) {
    blockquote {
      float: right;
      width: 45%;
      margin: 1em 0 1em 1.5em; } }
  @media screen and (min-width: 78.75em) {
    blockquote {
      margin-right: -4.5em; } }
  blockquote p {
    margin: 0;
    font-size: 1em; }

small {
  font-size: 11px;
  font-size: 1.1rem;
  display: block;
  margin: 1em 0; }

/**************************************************
 DEFAULT BUTTON STYLES
**************************************************/
.button, button, input[type="submit"] {
  font-size: 12px;
  font-size: 1.2rem;
  display: block;
  margin: 1em 0;
  padding: .75em 1em;
  background-color: #a79a81;
  color: #fff;
  font-family: "PT Sans", Helmet, Freesans, sans-serif;
  text-align: center;
  text-transform: uppercase; }

/**************************************************
 DEFAULT FORM STYLES
**************************************************/
input[type="text"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-size: 12px;
  font-size: 1.2rem;
  -webkit-appearance: none;
  display: block;
  width: 100%;
  margin: 1em 0;
  padding: .75em 1em;
  background-color: #fff;
  border: 1px solid #231f20; }

button, input[type="submit"] {
  border: none;
  width: 100%; }

select {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-size: 12px;
  font-size: 1.2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  width: 100%;
  margin: 1em 0;
  padding: .75em 3em .75em 1em;
  background-color: #fff;
  background-position: right center;
  background-repeat: no-repeat;
  border: 1px solid #231f20;
  background-image: url("../img/graphics/select-arrow-01.png"); }
  @media (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi) {
    select {
      background-image: url("../img/graphics/select-arrow-01-2x.png");
      background-size: 25px 50px; } }

::-ms-expand {
  display: none; }

/**************************************************
 HEADER STYLES
**************************************************/
.site-header {
  background-color: #24221d; }
  .site-header__logo {
    font-size: 10px;
    font-size: 1rem;
    width: 25em;
    margin: 0 auto;
    padding: 4em 0; }
    @media screen and (min-width: 56.25em) {
      .site-header__logo {
        float: left;
        width: auto;
        margin: 0;
        padding: 7em 0 0 5%; } }
    @media screen and (min-width: 73.125em) {
      .site-header__logo {
        padding-left: 0; } }
    .site-header__logo a {
      display: block;
      overflow: hidden;
      height: 0;
      width: 24.5em;
      padding-top: 3.5em;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-image: url("../img/logo/header-logo-01.png"); }
      @media (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi) {
        .site-header__logo a {
          background-image: url("../img/logo/header-logo-01-2x.png");
          background-size: 245px 35px; } }
  @media screen and (min-width: 33.75em) {
    .site-header__navigation {
      border-top: 1px solid #383739; } }
  @media screen and (min-width: 56.25em) {
    .site-header__navigation {
      float: right;
      width: 60%;
      border-top: none; } }
  @media screen and (min-width: 67.5em) {
    .site-header__navigation {
      width: 66.66%; } }
  .site-header__collections {
    padding-top: 2.4em; }
    @media screen and (min-width: 56.25em) {
      .site-header__collections {
        border-left: 1px solid #383739; } }
    .site-header__collections ol {
      display: none;
      position: absolute;
      top: 4.5em;
      left: 0;
      right: 0;
      margin: 0;
      padding: 1em 0;
      background-color: #747679;
      background-color: rgba(116, 118, 121, 0.5);
      list-style: none; }
      @media screen and (min-width: 33.75em) {
        .site-header__collections ol {
          top: 6.5em; } }
    .site-header__collections li {
      font-size: 10px;
      font-size: 1rem;
      margin: 0; }
    .site-header__collections a {
      display: block;
      padding: 1em 5%;
      color: #fff;
      text-transform: uppercase; }
      .site-header__collections a:hover, .site-header__collections a:focus {
        background-color: #383739;
        background-color: rgba(56, 55, 57, 0.5); }
    .site-header__collections .nav-toggle {
      font-size: 12px;
      font-size: 1.2rem;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      color: #a79a81;
      text-transform: uppercase;
      cursor: pointer; }
      .site-header__collections .nav-toggle:hover, .site-header__collections .nav-toggle:focus {
        color: #fff; }
      .site-header__collections .nav-toggle:after {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        content: "";
        height: 8px;
        width: 14px;
        margin-top: -3px;
        margin-left: 1em;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-image: url("../img/graphics/down-arrow-01.png"); }
        @media (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi) {
          .site-header__collections .nav-toggle:after {
            background-image: url("../img/graphics/down-arrow-01-2x.png");
            background-size: 14px 8px; } }
  .site-header__cart {
    padding: 2.4em 5%; }
    @media screen and (min-width: 33.75em) {
      .site-header__cart {
        border-left: 1px solid #383739; } }
    .site-header__cart a {
      font-size: 12px;
      font-size: 1.2rem;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      margin: 0;
      color: #a79a81;
      line-height: 1;
      text-transform: uppercase; }
      .site-header__cart a:hover, .site-header__cart a:focus {
        color: #fff; }
    .site-header__cart .spacer {
      margin: 0 .5em;
      color: #383739; }
    .site-header__cart .cart-count {
      color: #fff; }
  .site-header__content {
    clear: both; }
    @media screen and (min-width: 56.25em) {
      .site-header__content {
        float: right;
        width: 60%; } }
    @media screen and (min-width: 67.5em) {
      .site-header__content {
        width: 66.66%; } }
    @media screen and (min-width: 33.75em) {
      .site-header__content .group {
        float: left;
        height: 48em;
        width: 50%;
        border-left: 1px solid #383739; } }
    @media screen and (min-width: 45em) {
      .site-header__content .group {
        height: 51em; } }
    @media screen and (min-width: 56.25em) {
      .site-header__content .group {
        height: 48em; } }
    .site-header__content .group img {
      display: block;
      width: 100%; }
    .site-header__content .text-wrapper {
      padding: 3em 5%;
      color: #fff; }
      @media screen and (min-width: 33.75em) {
        .site-header__content .text-wrapper {
          padding-left: 1.5em;
          padding-right: 1.5em; } }
      .site-header__content .text-wrapper h1 {
        font-size: 30px;
        font-size: 3rem;
        margin: 0 0 .75em;
        color: #a79a81;
        font-family: "EB Garamond", Georgia, Times, "Times New Roman", serif;
        letter-spacing: .125em; }
      .site-header__content .text-wrapper p {
        font-size: 11px;
        font-size: 1.1rem;
        color: #747679;
        line-height: 1.8; }

.site-header__collections, .site-header__cart {
  position: relative;
  border-top: 1px solid #383739;
  padding: 2em 5%; }
  @media screen and (min-width: 33.75em) {
    .site-header__collections, .site-header__cart {
      float: right;
      width: 50%;
      padding: 3em 1.5em;
      border-top: none; } }
  @media screen and (min-width: 56.25em) {
    .site-header__collections, .site-header__cart {
      height: 17em; }
      #home .site-header__collections, #home .site-header__cart {
        height: 12em; } }

/**************************************************
 FOOTER STYLES
**************************************************/
.site-footer__nav li, .site-footer__nav p, .site-footer__nav address, .site-footer__share-button {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: normal; }
  @media screen and (min-width: 45em) {
    .site-footer__nav li, .site-footer__nav p, .site-footer__nav address, .site-footer__share-button {
      font-size: 12px;
      font-size: 1.2rem; } }
  @media screen and (min-width: 56.25em) {
    .site-footer__nav li, .site-footer__nav p, .site-footer__nav address, .site-footer__share-button {
      font-size: 10px;
      font-size: 1rem; } }

.site-footer {
  padding: 4.5em 5%;
  background-color: #675f57;
  text-align: center; }
  @media screen and (min-width: 33.75em) {
    .site-footer {
      text-align: left; } }
  .site-footer__nav {
    text-transform: uppercase; }
    @media screen and (min-width: 33.75em) {
      .site-footer__nav {
        width: 105%;
        margin-left: -5%; } }
    @media screen and (min-width: 45em) {
      .site-footer__nav {
        width: 103.33%;
        margin-left: -3.33%; } }
    @media screen and (min-width: 56.25em) {
      .site-footer__nav {
        float: left;
        width: 75%;
        margin-left: -2.5%; } }
    .site-footer__nav h5 {
      font-size: 16px;
      font-size: 1.6rem;
      margin: 0 0 1em;
      color: #fff;
      -webkit-font-smoothing: antialiased; }
      @media screen and (min-width: 45em) {
        .site-footer__nav h5 {
          font-size: 14px;
          font-size: 1.4rem; } }
      @media screen and (min-width: 56.25em) {
        .site-footer__nav h5 {
          font-size: 12px;
          font-size: 1.2rem; } }
    .site-footer__nav ul {
      list-style: none;
      margin: 0; }
    .site-footer__nav li {
      margin: .75em 0;
      line-height: normal; }
    .site-footer__nav p {
      margin: .5em 0; }
    .site-footer__nav address {
      margin: 1em 0; }
    .site-footer__nav a {
      color: #231f20; }
      .site-footer__nav a:hover, .site-footer__nav a:focus {
        color: #a79a81; }
    .site-footer__nav .nav-group {
      max-width: 30em;
      margin: 0 auto 2.5em;
      padding-bottom: 1.5em;
      border-bottom: 1px solid #756c63; }
      @media screen and (min-width: 33.75em) {
        .site-footer__nav .nav-group {
          float: left;
          width: 45%;
          max-width: none;
          margin: 0 0 3em 5%;
          padding-bottom: 0;
          border-bottom: none; }
          .site-footer__nav .nav-group:nth-child(2n+1) {
            clear: left; } }
      @media screen and (min-width: 45em) {
        .site-footer__nav .nav-group {
          width: 30%;
          margin-left: 3.33%; }
          .site-footer__nav .nav-group:nth-child(2n+1) {
            clear: none; } }
  .site-footer__share-button {
    display: block; }
    @media screen and (min-width: 33.75em) {
      .site-footer__share-button {
        float: left;
        width: 45%;
        margin: 0 0 3em 5%; } }
    @media screen and (min-width: 45em) {
      .site-footer__share-button {
        clear: left;
        width: 30%;
        margin-left: 3.33%; } }
    .site-footer__share-button:after {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      content: '';
      width: 35px;
      height: 35px;
      margin-left: .5em;
      background-image: url("../img/graphics/share-icon-01.png"); }
      @media (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi) {
        .site-footer__share-button:after {
          background-image: url("../img/graphics/share-icon-01-2x.png");
          background-size: 35px 35px; } }
  .site-footer__social-links {
    list-style: none;
    margin: 3em 0; }
    @media screen and (min-width: 33.75em) {
      .site-footer__social-links {
        float: right;
        margin: 0;
        width: 47.5%; } }
    @media screen and (min-width: 45em) {
      .site-footer__social-links {
        width: 31.25%; } }
    @media screen and (min-width: 56.25em) {
      .site-footer__social-links {
        width: auto;
        text-align: center; } }
    .site-footer__social-links li {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      font-size: 10px;
      font-size: 1rem;
      list-style: none;
      margin: 0 .5em;
      line-height: normal; }
    .site-footer__social-links a {
      -webkit-box-shadow: inset 1px 2px 3px rgba(35, 31, 32, 0.5);
      box-shadow: inset 1px 2px 3px rgba(35, 31, 32, 0.5);
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      display: block;
      overflow: hidden;
      height: 0;
      width: 3.2em;
      padding-top: 3.2em;
      background-color: #fff;
      background-position: 0 0;
      background-repeat: no-repeat;
      background-image: url("../img/graphics/social-sprite-01.png"); }
      @media (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi) {
        .site-footer__social-links a {
          background-image: url("../img/graphics/social-sprite-01-2x.png");
          background-size: 32px 64px; } }
    .site-footer__social-links .facebook a {
      background-position: 0 0; }
    .site-footer__social-links .pinterest a {
      background-position: 0 -32px; }
  .site-footer__copyright {
    font-size: 11px;
    font-size: 1.1rem;
    clear: both; }

/**************************************************
 BOTTOM SECTION STYLES
**************************************************/
.bottom {
  padding: 3em 5%;
  background-color: #24221d;
  color: #747679; }
  @media screen and (min-width: 45em) {
    .bottom {
      padding: 4.5em 5%; } }
  .bottom aside {
    margin-bottom: 3em; }
    @media screen and (min-width: 33.75em) {
      .bottom aside {
        float: left;
        width: 65%;
        margin-bottom: 0; } }
    .bottom aside h2 {
      font-size: 20px;
      font-size: 2rem;
      margin: 0 0 .75em;
      color: #a79a81;
      font-family: "EB Garamond", Georgia, Times, "Times New Roman", serif;
      font-weight: 400;
      letter-spacing: .1em; }
      @media screen and (min-width: 45em) {
        .bottom aside h2 {
          font-size: 26px;
          font-size: 2.6rem; } }
      @media screen and (min-width: 67.5em) {
        .bottom aside h2 {
          font-size: 30px;
          font-size: 3rem; } }
  @media screen and (min-width: 33.75em) {
    .bottom__buttons {
      float: right;
      width: 30%;
      margin-top: .25em; } }
  .bottom__buttons .button {
    font-size: 12px;
    font-size: 1.2rem;
    display: block;
    margin: 0 0 1.5em;
    padding: .75em 1em;
    background-color: #fff;
    border: 1px solid #a79a81;
    color: #231f20;
    text-align: center;
    text-transform: uppercase; }
    @media screen and (min-width: 33.75em) {
      .bottom__buttons .button {
        max-width: 20em; } }
    .bottom__buttons .button:hover, .bottom__buttons .button:focus {
      background-color: #a79a81; }

/**************************************************
 MAIN SECTION STYLES
**************************************************/
.main {
  border-top: 4em solid #675f57; }
  .main__top {
    padding: 4.5em 5%;
    border-bottom: 1px solid #231f20; }
    @media screen and (min-width: 45em) {
      .main__top {
        padding-top: 6em;
        padding-bottom: 6em; } }
    .main__top h1 {
      margin: 0;
      color: #a79a81;
      font-family: "EB Garamond", Georgia, Times, "Times New Roman", serif;
      font-weight: 400; }
  #page .main article {
    padding: 4em; }
    @media screen and (min-width: 67.5em) {
      #page .main article {
        float: right;
        width: 66.66%;
        border-left: 1px solid #231f20; } }

/**************************************************
 HOME PAGE STYLES
**************************************************/
.product-list article {
  border-top: 1px solid #a79a81;
  text-align: center; }
  .product-list article:first-child {
    border-top: none; }
  .product-list article a {
    display: block;
    padding: 3em 5%; }
  .product-list article figure {
    margin-bottom: 2em; }
    .product-list article figure img {
      vertical-align: bottom; }
  .product-list article h6 {
    margin: 0; }
@media screen and (min-width: 33.75em) {
  .product-list article {
    float: left;
    width: 50%;
    border-top: none;
    border-left: 1px solid #a79a81; }
    .product-list article:nth-child(2n+1) {
      clear: left;
      border-left: none; }
    .product-list article a {
      padding: 4.5em 3em 6em; } }
@media screen and (min-width: 56.25em) {
  .product-list article {
    width: 33.33%; }
    .product-list article:nth-child(2n+1) {
      clear: none;
      border-left: 1px solid #a79a81; }
    .product-list article:nth-child(3n+1) {
      clear: left;
      border-left: none; } }
.product-list__header, .product-list__footer {
  clear: both;
  padding: 3em 5%;
  background-color: #675f57; }
  @media screen and (min-width: 45em) {
    .product-list__header, .product-list__footer {
      padding-top: 2em;
      padding-bottom: 2em; } }
.product-list__header {
  overflow: hidden; }
  .product-list__header h3 {
    font-size: 16px;
    font-size: 1.6rem;
    margin: 0 0 1.5em;
    color: #fff;
    font-family: "EB Garamond", Georgia, Times, "Times New Roman", serif;
    font-style: italic;
    text-align: center;
    letter-spacing: .125em; }
    @media screen and (min-width: 45em) {
      .product-list__header h3 {
        float: left;
        text-align: left;
        margin: .125em 0; } }
    @media screen and (min-width: 56.25em) {
      .product-list__header h3 {
        margin: 0; } }
  @media screen and (min-width: 56.25em) {
    .product-list__header .pagination-links {
      float: left;
      width: auto;
      padding: 0 1.5em;
      margin-left: 6em; } }

.pagination-links {
  position: relative;
  max-width: 21em;
  margin: 0 auto;
  text-align: center; }
  .pagination-links a:hover, .pagination-links a:focus {
    color: #fff; }
  .pagination-links .prev,
  .pagination-links .next {
    font-size: 16px;
    font-size: 1.6rem;
    position: absolute;
    top: .125em;
    color: #231f20; }
  .pagination-links .prev {
    left: 0; }
  .pagination-links .next {
    right: 0; }
  .pagination-links ol {
    list-style: none;
    margin: 0; }
    .pagination-links ol li {
      font-size: 16px;
      font-size: 1.6rem;
      display: inline;
      margin: 0 1em;
      line-height: normal; }
  .pagination-links .active a {
    color: #fff;
    cursor: pointer; }
  @media screen and (min-width: 56.25em) {
    .pagination-links {
      width: 18em; }
      .pagination-links .prev,
      .pagination-links .next {
        font-size: 12px;
        font-size: 1.2rem; }
      .pagination-links ol li {
        font-size: 12px;
        font-size: 1.2rem; } }

/**************************************************
 PRODUCT PAGE STYLES
**************************************************/
.product {
  padding: 3em 5%;
  border-bottom: 1px solid #231f20; }
  @media screen and (min-width: 45em) {
    .product {
      float: left;
      width: 60%;
      padding: 4.5em;
      border-bottom: none; } }
  @media screen and (min-width: 67.5em) {
    .product {
      width: 66.66%; } }
  .product__header h1 {
    color: #a79a81;
    font-family: "EB Garamond", Georgia, Times, "Times New Roman", serif;
    margin: 0; }
  .product__header p {
    margin: .75em 0; }
  .product__header .spacer {
    color: #a79a81;
    margin: 0 .5em; }
  .product__header .add {
    color: #231f20; }
    .product__header .add:hover, .product__header .add:focus {
      color: #a79a81; }
  .product__header .back {
    font-size: 11px;
    font-size: 1.1rem;
    display: block;
    float: left;
    color: #747679;
    text-transform: uppercase; }
    .product__header .back:hover, .product__header .back:focus {
      color: #231f20; }
  .product__photo img {
    display: block;
    width: 100%;
    max-width: none; }
  @media screen and (min-width: 45em) {
    .product__details {
      float: right;
      width: 40%;
      padding-top: 7.5em;
      border-left: 1px solid #231f20;
      border-right: 1px solid #231f20; } }
  @media screen and (min-width: 56.25em) {
    .product__details {
      padding-top: 9em; } }
  @media screen and (min-width: 67.5em) {
    .product__details {
      padding-top: 12em;
      width: 33.33%; } }
  .product__details .group {
    position: relative;
    padding: 4.5em 5% 1.5em; }
    @media screen and (min-width: 45em) {
      .product__details .group {
        padding-left: 1em;
        padding-right: 1em; } }
    .product__details .group__heading {
      font-size: 14px;
      font-size: 1.4rem;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0;
      padding: 1em 5%;
      background-color: #d6d6cf;
      color: #fff;
      text-transform: uppercase; }
      @media screen and (min-width: 45em) {
        .product__details .group__heading {
          padding: 1em; } }
    .product__details .group .product-dimensions {
      font-size: 14px;
      font-size: 1.4rem;
      color: #8f9194; }
  .product__details .share-links {
    list-style: none;
    margin: 0;
    padding: 4.5em 5% 6em;
    text-align: center; }
    @media screen and (min-width: 45em) {
      .product__details .share-links {
        padding: 6em 1.5em 7.5em; } }
    .product__details .share-links li {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      font-size: 10px;
      font-size: 1rem;
      line-height: normal;
      margin: 0 .25em; }
      .product__details .share-links li a {
        overflow: hidden;
        display: block;
        height: 0;
        width: 3.2em;
        padding-top: 3em;
        border: 1px solid #747679;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-image: url("../img/graphics/share-sprite-01.png"); }
        @media (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi) {
          .product__details .share-links li a {
            background-image: url("../img/graphics/share-sprite-01-2x.png");
            background-size: 30px 180px; } }
        .product__details .share-links li a:hover, .product__details .share-links li a:focus {
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
          filter: alpha(opacity=50);
          opacity: 0.5; }
    .product__details .share-links .print a {
      background-position: 50% 0; }
    .product__details .share-links .email a {
      background-position: 50% -60px; }
    .product__details .share-links .pinterest a {
      background-position: 50% -90px; }
    .product__details .share-links .twitter a {
      background-position: 50% -120px; }
    .product__details .share-links .facebook a {
      background-position: 50% -150px; }

.gallery {
  overflow: hidden;
  background-color: #383739; }
  .gallery__images {
    clear: both;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0; }
    .gallery__images li {
      float: left;
      width: 50%;
      margin: 0; }
      @media screen and (min-width: 45em) {
        .gallery__images li {
          width: 33.33%; } }
    .gallery__images img {
      display: block;
      width: 100%;
      max-width: none; }

/**************************************************
 CART PAGE STYLES
**************************************************/
.cart__header {
  padding: 4.5em 5%;
  border-bottom: 1px solid #231f20; }
  @media screen and (min-width: 45em) {
    .cart__header {
      padding-top: 6em;
      padding-bottom: 6em; } }
  .cart__header .inner {
    position: relative; }
  .cart__header h1 {
    margin: 0 0 1em;
    color: #a79a81;
    font-family: "EB Garamond", Georgia, Times, "Times New Roman", serif;
    font-weight: 400; }
    @media screen and (min-width: 33.75em) {
      .cart__header h1 {
        float: left;
        margin-bottom: 0; } }
  .cart__header__links {
    margin: 0; }
    @media screen and (min-width: 33.75em) {
      .cart__header__links {
        float: right;
        width: 66.66%;
        margin-top: 1.25em; } }
    .cart__header__links li {
      list-style: none;
      float: left;
      width: 50%;
      margin: 0;
      line-height: 1; }
  .cart__header .back,
  .cart__header .checkout {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    text-transform: uppercase; }
    .cart__header .back:hover, .cart__header .back:focus,
    .cart__header .checkout:hover,
    .cart__header .checkout:focus {
      color: #231f20; }
  .cart__header .back {
    color: #8f9194; }
  .cart__header .checkout {
    color: #9c2124; }
.cart__price-headings {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 33.33%;
  margin: 0 0 -4.5em;
  list-style: none; }
  @media screen and (min-width: 45em) {
    .cart__price-headings {
      display: block; } }
  .cart__price-headings li {
    font-size: 12px;
    font-size: 1.2rem;
    float: left;
    width: 30%;
    margin: 0 0 0 5%;
    line-height: 1; }
    .cart__price-headings li:first-child {
      margin-left: 0; }
.cart__item {
  padding: 1.5em 5%;
  border-bottom: 1px solid #231f20; }
  .cart__item figure {
    text-align: center; }
    @media screen and (min-width: 45em) {
      .cart__item figure {
        float: left;
        width: 25%; } }
    .cart__item figure img {
      vertical-align: bottom; }
  .cart__item aside {
    padding: 1.5em 0; }
    @media screen and (min-width: 45em) {
      .cart__item aside {
        float: right;
        width: 66.66%; } }
    @media screen and (min-width: 33.75em) {
      .cart__item aside .group {
        float: left;
        width: 50%; } }
    .cart__item aside .group.description {
      margin-bottom: 1.5em; }
      @media screen and (min-width: 33.75em) {
        .cart__item aside .group.description {
          margin-bottom: 0;
          padding-top: 3em; } }
      .cart__item aside .group.description h5 {
        margin: 0 0 1em;
        text-transform: uppercase; }
      .cart__item aside .group.description .remove {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        font-size: 9px;
        font-size: 0.9rem;
        margin-top: -0.5em;
        margin-left: 1em;
        color: #9c2124; }
      .cart__item aside .group.description .product-dimensions {
        display: block;
        margin: .5em 0;
        color: #8f9194; }
    .cart__item aside .group.price {
      padding-top: 1.5em;
      border-top: 1px solid #d6d6cf; }
      @media screen and (min-width: 33.75em) {
        .cart__item aside .group.price {
          border-top: none;
          padding-top: 3em; } }
      .cart__item aside .group.price .item-price,
      .cart__item aside .group.price .item-qty,
      .cart__item aside .group.price .item-total {
        font-size: 12px;
        font-size: 1.2rem;
        display: block;
        float: left;
        width: 30%; }
      .cart__item aside .group.price .item-price,
      .cart__item aside .group.price .item-total {
        margin-top: .75em; }
      .cart__item aside .group.price .item-price {
        position: relative;
        padding-right: 1.5em; }
        .cart__item aside .group.price .item-price:after {
          content: "\2715";
          position: absolute;
          right: 0;
          color: #a79a81; }
      .cart__item aside .group.price .item-qty {
        margin: 0 0 0 5%; }
      .cart__item aside .group.price .item-total {
        font-weight: bold;
        margin-left: 5%; }
.cart__footer {
  padding: 6em 5%; }
  .cart__footer__shipping {
    margin-bottom: 6em; }
    @media screen and (min-width: 33.75em) {
      .cart__footer__shipping {
        float: left;
        width: 45%;
        max-width: 24em;
        margin-bottom: 0; } }
    @media screen and (min-width: 45em) {
      .cart__footer__shipping {
        width: 27%;
        margin-left: 33.33%; } }
    .cart__footer__shipping h6 {
      font-size: 12px;
      font-size: 1.2rem;
      margin: 0 0 1em;
      text-transform: uppercase; }
    .cart__footer__shipping input[type="submit"] {
      background-color: #8f9194;
      border: 1px solid #231f20;
      text-align: left; }
      .cart__footer__shipping input[type="submit"]:hover, .cart__footer__shipping input[type="submit"]:focus {
        background-color: #747679; }
  .cart__footer .standard-shipping {
    margin: 1.5em 0; }
    .cart__footer .standard-shipping:before {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      content: "";
      width: 1em;
      height: 1em;
      margin-right: .5em;
      background-color: #9c2124; }
  .cart__footer .disclaimer {
    color: #9c2124;
    font-style: italic; }
  @media screen and (min-width: 33.75em) {
    .cart__footer__totals {
      float: right;
      width: 45%; } }
  @media screen and (min-width: 45em) {
    .cart__footer__totals {
      width: 33.33%; } }
  .cart__footer__totals ul {
    list-style: none;
    margin: 0; }
  .cart__footer__totals li {
    font-size: 14px;
    font-size: 1.4rem;
    overflow: hidden;
    margin: .25em 0; }
    .cart__footer__totals li .label {
      display: block;
      float: left;
      width: 65%;
      color: #747679; }
    .cart__footer__totals li .amount {
      display: block;
      float: right;
      width: 30%; }
    .cart__footer__totals li.grand-total {
      padding-top: .25em;
      border-top: 1px solid #231f20;
      font-weight: bold; }
      .cart__footer__totals li.grand-total .label,
      .cart__footer__totals li.grand-total .amount {
        color: #231f20; }
  .cart__footer .button {
    margin: 4.5em 0 0;
    background-color: #9c2124;
    color: #fff; }
    .cart__footer .button:hover, .cart__footer .button:focus {
      background-color: #72181a; }

/**************************************************
 CHECKOUT PAGE STYLES
**************************************************/
.checkout__header {
  padding: 6em 5%;
  border-bottom: 1px solid #231f20; }
  .checkout__header .inner {
    position: relative; }
  .checkout__header h1 {
    float: left;
    margin: 0;
    color: #a79a81;
    font-family: "EB Garamond", Georgia, Times, "Times New Roman", serif;
    font-weight: 400; }
  .checkout__header__steps {
    float: left;
    margin: 0 0 0 4.5em;
    list-style: none;
    text-align: center;
    background: url("../img/graphics/dashed-line-01.png") 0 12px repeat-x; }
    @media screen and (min-width: 33.75em) {
      .checkout__header__steps {
        margin-top: .5em;
        margin-left: 6em; } }
    @media screen and (min-width: 45em) {
      .checkout__header__steps {
        margin-left: 7.5em; } }
    .checkout__header__steps li {
      font-size: 10px;
      font-size: 1rem;
      position: relative;
      float: left;
      line-height: 1;
      margin: 0 0 0 6em; }
      .checkout__header__steps li:first-child {
        margin-left: 0; }
      @media screen and (min-width: 33.75em) {
        .checkout__header__steps li {
          margin-left: 9em; } }
      @media screen and (min-width: 45em) {
        .checkout__header__steps li {
          margin-left: 12em; } }
    .checkout__header__steps .number {
      font-size: 12px;
      font-size: 1.2rem;
      display: block;
      width: 2.5em;
      margin: 0;
      padding: .75em 0;
      background-color: #fff;
      border: 1px solid #231f20;
      text-align: center; }
    .checkout__header__steps .label {
      font-size: 10px;
      font-size: 1rem;
      position: absolute;
      top: 4.5em;
      left: 50%;
      display: block;
      text-align: center;
      width: 9em;
      margin-left: -4.5em;
      color: #8f9194; }
      @media screen and (min-width: 45em) {
        .checkout__header__steps .label {
          width: 15em;
          margin-left: -7.5em; } }
    .checkout__header__steps .current .number {
      background-color: #d6d6cf;
      border: 1px solid #9c2124; }
    .checkout__header__steps .current .label {
      color: #231f20; }
.checkout__content {
  border-bottom: 1px solid #231f20; }
  .checkout__content .inner {
    position: relative; }
@media screen and (min-width: 45em) {
  .checkout__form__billing {
    float: left; } }
@media screen and (min-width: 45em) {
  .checkout__form__shipping {
    float: right; } }
.checkout__form h4 {
  font-size: 14px;
  font-size: 1.4rem;
  margin: 1.5em 0;
  text-transform: uppercase; }
.checkout__form .ship-to-billing {
  margin-top: 3em; }
.checkout__summary {
  padding: 3em 5%;
  background-color: #d6d6cf; }
  @media screen and (min-width: 56.25em) {
    .checkout__summary {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 33.33%;
      padding: 3em 3em 9em; } }
  .checkout__summary .inner {
    position: static;
    max-width: 42em;
    margin: 0 auto; }
  .checkout__summary h4 {
    font-size: 14px;
    font-size: 1.4rem;
    margin: 1.5em 0;
    text-transform: uppercase; }
  .checkout__summary__totals {
    margin: 3em 0;
    list-style: none; }
    .checkout__summary__totals li {
      overflow: hidden; }
    .checkout__summary__totals .label {
      float: left;
      width: 45%; }
    .checkout__summary__totals .ammount {
      float: right;
      width: 50%; }
    .checkout__summary__totals .totals {
      margin-top: 1.5em; }
  .checkout__summary .view-cart {
    font-size: 10px;
    font-size: 1rem;
    margin: 3em 0;
    text-transform: uppercase; }
    .checkout__summary .view-cart a {
      color: #9c2124; }
      .checkout__summary .view-cart a:hover, .checkout__summary .view-cart a:focus {
        color: #231f20; }
  .checkout__summary .button {
    background-color: #9c2124;
    color: #fff; }
    @media screen and (min-width: 56.25em) {
      .checkout__summary .button {
        position: absolute;
        bottom: 1.5em;
        left: 3em;
        right: 3em; } }
    .checkout__summary .button:hover, .checkout__summary .button:focus {
      background-color: #72181a; }

.checkout__form, .checkout__registration__form {
  padding: 3em 5%; }
  @media screen and (min-width: 56.25em) {
    .checkout__form, .checkout__registration__form {
      width: 66.66%;
      padding: 3em; } }
  @media screen and (min-width: 45em) {
    .checkout__form fieldset, .checkout__registration__form fieldset {
      width: 47.5%; } }
  .checkout__form .field-group, .checkout__registration__form .field-group {
    font-size: 10px;
    font-size: 1rem;
    margin: 1.5em 0;
    overflow: hidden; }
    .checkout__form .field-group label, .checkout__registration__form .field-group label {
      font-size: 12px;
      font-size: 1.2rem;
      display: block;
      margin-bottom: .5em; }
      @media screen and (min-width: 33.75em) {
        .checkout__form .field-group label, .checkout__registration__form .field-group label {
          float: left;
          width: 20%;
          margin-top: .625em;
          margin-bottom: 0; } }
      @media screen and (min-width: 45em) {
        .checkout__form .field-group label, .checkout__registration__form .field-group label {
          width: 22.5%; } }
    .checkout__form .field-group input, .checkout__registration__form .field-group input,
    .checkout__form .field-group select,
    .checkout__registration__form .field-group select {
      margin: 0; }
      @media screen and (min-width: 33.75em) {
        .checkout__form .field-group input, .checkout__registration__form .field-group input,
        .checkout__form .field-group select,
        .checkout__registration__form .field-group select {
          float: right;
          width: 80%; } }
      @media screen and (min-width: 45em) {
        .checkout__form .field-group input, .checkout__registration__form .field-group input,
        .checkout__form .field-group select,
        .checkout__registration__form .field-group select {
          width: 75%; } }

.checkout__form .ship-to-billing, .checkout__registration__form .register-checkbox {
  padding-left: 1.75em; }
  .checkout__form .ship-to-billing input, .checkout__registration__form .register-checkbox input {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin: -0.125em .5em 0 -1.75em; }
