{% assign body_id = 'page' %}

<section class="main">
  <div class="main__top">
    <div class="inner">
      <h1>{{ article.title }}</h1>
    </div>
  </div>
  <div class="inner">
    <article>
      {{ article.content }}
    </article>
  </div>
</section>
