{% assign body_id = 'page' %}

<section class="main">
  <div class="main__top">
    <div class="inner">
      <h1>404 Error</h1>
    </div>
  </div>
  <div class="inner">
    <article>
      <h3>Page Not Found</h3>
      <p>We were unable to find the page you are looking for. <a href="/">Click here</a> to return to our home page and continue browsing. Please get in touch with us if you need any help finding something.</p>
    </article>
  </div>
</section>