/**************************************************
 HEADER STYLES
**************************************************/

.site-header {
  @extend %clearfix;
  background-color: $dk-brown;
  &__logo {
    @include font-size(10);
    width: 25em;
    margin: 0 auto;
    padding: 4em 0;
    @include break-up($large){
      float: left;
      width: auto;
      margin: 0;
      padding: 7em 0 0 $side-padding;
    }
    @include break-up(1170){
      padding-left: 0;
    }
    a {
      display: block;
      overflow: hidden;
      height: 0;
      width: 24.5em;
      padding-top: 3.5em;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      @include hires(
        "../img/logo/header-logo-01.png",
        "../img/logo/header-logo-01-2x.png"
      );
    }
  }
  &__navigation {
    @include break-up($small){
      border-top: 1px solid $dk-gray;
    }
    @include break-up($large){
      float: right;
      width: 60%;
      border-top: none;
    }
    @include break-up($x-large){
      width: 66.66%;
    }
  }
  &__collections {
    @extend %header-block;
    padding-top: 2.4em;
    @include break-up($large){
      border-left: 1px solid $dk-gray;
    }
    ol {
      display: none;
      position: absolute;
      top: 4.5em;
      left: 0;
      right: 0;
      margin: 0;
      padding: 1em 0;
      background-color: $lt-gray;
      background-color: transparentize($lt-gray,0.5);
      list-style: none;
      @include break-up($small){ top: 6.5em }
    }
    li {
      @include font-size(10);
      margin: 0;
    }
    a {
      display: block;
      padding: 1em $side-padding;
      color: $white;
      text-transform: uppercase;
      &:hover,
      &:focus {
        background-color: $dk-gray;
        background-color: transparentize($dk-gray,0.5);
      }
    }
    .nav-toggle {
      @extend %transition;
      @include font-size(12);
      @include inline-block();
      color: $lt-brown;
      text-transform: uppercase;
      cursor: pointer;
      &:hover,&:focus { color: $white }
      &:after {
        @include inline-block();
        content: "";
        height: 8px;
        width: 14px;
        margin-top: -3px;
        margin-left: 1em;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        @include hires(
          "../img/graphics/down-arrow-01.png",
          "../img/graphics/down-arrow-01-2x.png"
        );
      }
    }
  }
  &__cart {
    @extend %header-block;
    padding: 2.4em $side-padding;
    @include break-up($small){
      border-left: 1px solid $dk-gray;
    }
    a {
      @include font-size(12);
      @include inline-block();
      margin: 0;
      color: $lt-brown;
      line-height: 1;
      text-transform: uppercase;
      &:hover, &:focus { color: $white }
    }
    .spacer {
      margin: 0 .5em;
      color: $dk-gray;
    }
    .cart-count {
      color: $white;
    }
  }
  &__content {
    clear: both;
    @include break-up($large){
      float: right;
      width: 60%;
    }
    @include break-up($x-large){
      width: 66.66%;
    }
    .group {
      @include break-up($small){
        float: left;
        height: 45em;
        width: 50%;
        border-left: 1px solid $dk-gray;
      }
      @include break-up($medium){ height: 48em }
      @include break-up($large){ height: 45em }
      img {
        display: block;
        width: 100%;
      }
    }
    .text-wrapper {
      padding: 2em $side-padding 1.5em;
      color: $white;
      h1 {
        margin: 0;
        color: $lt-brown;
        font-family: $garamond;
      }
    }
  }
}

%header-block {
  position: relative;
  border-top: 1px solid $dk-gray;
  padding: 2em $side-padding;
  @include break-up($small){
    float: right;
    width: 50%;
    padding: 3em;
    border-top: none;
  }
  @include break-up($large){
    height: 17em;
    #home & { height: 12em }
  }
}