/**************************************************
 VARIABLES
**************************************************/
/* 3d Transform Defaults */
/* Transition Defaults */
/* Color Contrast Defaults */
/**************************************************
 FONT STACKS
**************************************************/
/**************************************************
 FONT USAGE
**************************************************/
/**************************************************
 COLOR PALETTE
**************************************************/
/**************************************************
 COLOR USAGE
**************************************************/
/* Base Colors */
/* Link Colors */
/**************************************************
 UNICODE CHARACTERS
**************************************************/
/**************************************************
 SITE SPECIFIC
**************************************************/
/**************************************************
 COMPASS
**************************************************/
/**************************************************
 HELPERS
**************************************************/
/**************************************************
 CONVERT PIXELS TO EMS
**************************************************/
/**************************************************
 BREAKPOINTS
**************************************************/
/**************************************************
 FONT SIZE
**************************************************/
/**************************************************
 BUTTON
**************************************************/
/**************************************************
 HI-RES BACKGROUND IMAGES
**************************************************/
/**************************************************
 BACKGROUND IMAGE REPLACEMENT
**************************************************/
/**************************************************
 CSS ANIMATIONS
**************************************************/
/**************************************************
 COMPASS RESET
**************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/**************************************************
 ADDITIONAL RESET STYLES
**************************************************/
audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

address, caption, cite, code, dfn, th, var {
  font-style: normal;
  font-weight: normal; }

a {
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

a:hover, a:active {
  outline: none; }

img, object, embed {
  max-width: 100%;
  height: auto !important;
  border: 0; }
  .ie8 img, .ie8 object, .ie8 embed {
    width: auto; }

svg:not(:root) {
  overflow: hidden; }

ins {
  color: #231f20;
  text-decoration: none; }

mark {
  color: #231f20; }

del {
  text-decoration: line-through; }

abbr {
  cursor: help; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  font-size: inherit;
  font: 100%; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td, td img {
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #231f20;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

em, i {
  font-style: italic; }

strong, b {
  font-weight: bold; }

em > strong, strong > em {
  font-weight: bold;
  font-style: italic; }

small {
  font-size: .85em; }

sub, sup {
  font-size: .75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word; }

pre, code, kbd, samp {
  font-family: "courier new", monospace, serif;
  font-size: 1em; }

textarea {
  overflow: auto; }

.clickable, label, input[type='button'], input[type='submit'], button, a {
  cursor: pointer; }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline; }

select, input, textarea {
  font: 99% sans-serif; }

button {
  width: auto;
  overflow: visible; }

button, input, select, textarea {
  margin: 0; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/**************************************************
 SHAREABLE STYLES
**************************************************/
.site-header, .bottom, .main {
  zoom: 1; }
  .site-header:before, .bottom:before, .main:before, .site-header:after, .bottom:after, .main:after {
    display: table;
    visibility: hidden;
    content: ""; }
  .site-header:after, .bottom:after, .main:after {
    clear: both; }

a {
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

/**************************************************
 BASE
**************************************************/
/**************************************************
 SELECTION STYLES
**************************************************/
::selection {
  background: rgba(36, 34, 29, 0.5);
  text-shadow: none;
  color: #fff; }

::-moz-selection {
  background: rgba(36, 34, 29, 0.5);
  text-shadow: none;
  color: #fff; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

@media only screen and (max-device-width: 480px) {
  html {
    -webkit-text-size-adjust: none; }

  a:link {
    -webkit-tap-highlight-color: rgba(36, 34, 29, 0.5); } }
/**************************************************
 BASE STYLES
**************************************************/
html {
  font-size: 62.5%; }

body {
  background-color: #fff;
  color: #231f20;
  font-family: "PT Sans", Helmet, Freesans, sans-serif; }

/**************************************************
 LAYOUT STYLES
**************************************************/
.inner {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto; }

/**************************************************
 DEFAULT LINK STYLES
**************************************************/
a {
  text-decoration: none;
  color: #a79a81; }
  a:hover, a:focus {
    color: #383739; }

/**************************************************
 DEFAULT TYPE STYLES
**************************************************/
h1, h2, h3, h4, h5, h6 {
  margin: 1em 0;
  font-weight: 400; }

h1 {
  font-size: 26px;
  font-size: 2.6rem; }

h2 {
  font-size: 20px;
  font-size: 2rem; }

h3 {
  font-size: 16px;
  font-size: 1.6rem; }

h4 {
  font-size: 14px;
  font-size: 1.4rem; }

h5 {
  font-size: 14px;
  font-size: 1.4rem; }

h6 {
  font-size: 12px;
  font-size: 1.2rem; }

@media screen and (min-width: 33.75em) {
  h1 {
    font-size: 32px;
    font-size: 3.2rem; }

  h2 {
    font-size: 26px;
    font-size: 2.6rem; }

  h3 {
    font-size: 20px;
    font-size: 2rem; }

  h4 {
    font-size: 16px;
    font-size: 1.6rem; } }
@media screen and (min-width: 56.25em) {
  h1 {
    font-size: 38px;
    font-size: 3.8rem; }

  h2 {
    font-size: 32px;
    font-size: 3.2rem; }

  h3 {
    font-size: 26px;
    font-size: 2.6rem; }

  h4 {
    font-size: 20px;
    font-size: 2rem; }

  h5 {
    font-size: 16px;
    font-size: 1.6rem; }

  h6 {
    font-size: 14px;
    font-size: 1.4rem; } }
p, ul li, ol li, address {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.4; }

p {
  margin: 1em 0; }

ol {
  list-style-type: decimal; }

ul {
  list-style-type: square; }

ul, ol {
  margin: 1em 0 1em 1.75em; }
  ul li, ol li {
    margin-bottom: 0.25em; }

blockquote p {
  font-size: 1em;
  margin: 0; }

small {
  font-size: 11px;
  font-size: 1.1rem;
  display: block;
  margin: 1em 0; }

/**************************************************
 COMPONENTS
**************************************************/
/**************************************************
 BUTTON STYLES
**************************************************/
/**************************************************
 DEFAULT FORM STYLES
**************************************************/
input[type="text"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none; }

/**************************************************
 DEFAULT TABLE STYLES
**************************************************/
/**************************************************
 MODULES
**************************************************/
/**************************************************
 HEADER STYLES
**************************************************/
.site-header {
  background-color: #24221d;
  border-bottom: 4em solid #675f57; }
  .site-header h1 {
    font-size: 10px;
    font-size: 1rem;
    width: 25em;
    margin: 0 auto;
    padding: 4em 0; }
    @media screen and (min-width: 56.25em) {
      .site-header h1 {
        float: left;
        width: auto;
        margin: 0;
        padding: 7em 0 0 5%; } }
    @media screen and (min-width: 73.125em) {
      .site-header h1 {
        padding-left: 0; } }
    .site-header h1 a {
      display: block;
      overflow: hidden;
      height: 0;
      width: 24.5em;
      padding-top: 3.5em;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-image: url("../img/logo/header-logo-01.png"); }
      @media (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi) {
        .site-header h1 a {
          background-image: url("../img/logo/header-logo-01-2x.png");
          background-size: 245px 35px; } }
  @media screen and (min-width: 33.75em) {
    .site-header__navigation {
      border-top: 1px solid #383739; } }
  @media screen and (min-width: 56.25em) {
    .site-header__navigation {
      float: right;
      width: 60%; } }
  @media screen and (min-width: 67.5em) {
    .site-header__navigation {
      width: 65%; } }
  .site-header__collections {
    padding-top: 2.4em; }
    @media screen and (min-width: 56.25em) {
      .site-header__collections {
        border-left: 1px solid #383739; } }
    .site-header__collections ol {
      display: none;
      position: absolute;
      top: 4.5em;
      left: 0;
      right: 0;
      margin: 0;
      padding: 1em 0;
      background-color: #747679;
      background-color: rgba(116, 118, 121, 0.5);
      list-style: none; }
      @media screen and (min-width: 33.75em) {
        .site-header__collections ol {
          top: 6.5em; } }
    .site-header__collections li {
      font-size: 10px;
      font-size: 1rem;
      margin: 0; }
    .site-header__collections a {
      display: block;
      padding: 1em 5%;
      color: #fff;
      text-transform: uppercase; }
      .site-header__collections a:hover, .site-header__collections a:focus {
        background-color: #383739;
        background-color: rgba(56, 55, 57, 0.5); }
    .site-header__collections .nav-toggle {
      font-size: 12px;
      font-size: 1.2rem;
      display: block;
      color: #a79a81;
      text-transform: uppercase;
      cursor: pointer; }
      .site-header__collections .nav-toggle:after {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        content: "";
        height: 8px;
        width: 14px;
        margin-top: -3px;
        margin-left: 1em;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-image: url("../img/graphics/down-arrow-01.png"); }
        @media (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi) {
          .site-header__collections .nav-toggle:after {
            background-image: url("../img/graphics/down-arrow-01-2x.png");
            background-size: 14px 8px; } }
  .site-header__cart {
    padding: 2.4em 5%; }
    @media screen and (min-width: 33.75em) {
      .site-header__cart {
        border-left: 1px solid #383739; } }
    .site-header__cart p {
      font-size: 12px;
      font-size: 1.2rem;
      margin: 0;
      color: #a79a81;
      line-height: normal;
      text-transform: uppercase; }
    .site-header__cart a {
      color: #fff; }
    .site-header__cart .spacer {
      margin: 0 .5em;
      color: #383739; }

.site-header__collections, .site-header__cart {
  position: relative;
  border-top: 1px solid #383739;
  padding: 2em 5%; }
  @media screen and (min-width: 33.75em) {
    .site-header__collections, .site-header__cart {
      float: right;
      width: 50%;
      padding: 3em;
      border-top: none; } }
  @media screen and (min-width: 56.25em) {
    .site-header__collections, .site-header__cart {
      height: 17em; } }

/**************************************************
 BOTTOM SECTION STYLES
**************************************************/
.bottom {
  padding: 3em 5%;
  background-color: #24221d;
  color: #747679; }
  @media screen and (min-width: 45em) {
    .bottom {
      padding: 4.5em 5%; } }
  .bottom aside {
    margin-bottom: 3em; }
    @media screen and (min-width: 33.75em) {
      .bottom aside {
        float: left;
        width: 65%;
        margin-bottom: 0; } }
    .bottom aside h2 {
      margin: 0 0 .75em;
      color: #a79a81;
      font-family: "EB Garamond", Georgia, Times, "Times New Roman", serif;
      font-weight: 400; }
  @media screen and (min-width: 33.75em) {
    .bottom__buttons {
      float: right;
      width: 30%;
      margin-top: .25em; } }
  .bottom__buttons .button {
    font-size: 12px;
    font-size: 1.2rem;
    display: block;
    margin: 0 0 1.5em;
    padding: .75em 1em;
    background-color: #fff;
    border: 1px solid #a79a81;
    color: #231f20;
    text-align: center;
    text-transform: uppercase; }
    .bottom__buttons .button:hover, .bottom__buttons .button:focus {
      background-color: #a79a81; }

/**************************************************
 FOOTER STYLES
**************************************************/
/**************************************************
 SECTIONS
**************************************************/
/**************************************************
 MAIN SECTION STYLES
**************************************************/
.main__top {
  padding: 1.5em 5%;
  border-bottom: 1px solid #231f20; }
  .main__top h1 {
    color: #a79a81;
    font-family: "EB Garamond", Georgia, Times, "Times New Roman", serif;
    font-weight: 400; }
.main article {
  padding: 4em; }
  @media screen and (min-width: 67.5em) {
    .main article {
      float: right;
      width: 65%;
      border-left: 1px solid #231f20; } }
