/**************************************************
 DEFAULT FORM STYLES
**************************************************/

input[type="text"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  @include border-radius(0);
  @include font-size(12);
  -webkit-appearance: none;
  display: block;
  width: 100%;
  margin: 1em 0;
  padding: .75em 1em;
  background-color: $white;
  border: 1px solid $border-color;
}

input {
  &[type="text"] { 
  }
  &[type="submit"] {
    @extend button;
  }
}

button {
  @extend %transition;
  @extend %button;
  border: none;
  width: 100%;
}

select {
  @include border-radius(0);
  @include font-size(12);
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  width: 100%;
  margin: 1em 0;
  padding: .75em 3em .75em 1em;
  background-color: $white;
  background-position: right center;
  background-repeat: no-repeat;
  border: 1px solid $border-color;
  @include hires(
    "../img/graphics/select-arrow-01.png",
    "../img/graphics/select-arrow-01-2x.png"
  );
}

::-ms-expand {
  display: none;
}