/**************************************************
 FONT STACKS
**************************************************/

$sans-serif: Helmet, Freesans, sans-serif;
$serif: Georgia, Times, "Times New Roman", serif;
$monospace: "courier new", monospace, serif;

$pt-sans: "PT Sans", $sans-serif;
$garamond: "EB Garamond", $serif;

/**************************************************
 FONT USAGE
**************************************************/

$body-font: $pt-sans;
$headline-font: $garamond;
$button-font: $pt-sans;
$code-font: $monospace;

/**************************************************
 COLOR PALETTE
**************************************************/

$white: #fff;
$black: #231f20;
$dk-gray: #383739;
$x-lt-gray: #8f9194;
$lt-gray: #747679;
$dk-brown: #24221d;
$md-brown: #675f57;
$lt-brown: #a79a81;
$x-lt-brown: #d6d6cf;

/**************************************************
 COLOR USAGE
**************************************************/

/* Base Colors */

$selection-bg: transparentize($dk-brown,0.5);
$selection-text: $white;

$body-bg: $white;
$body-text: $black;
$border-color: $black;

/* Link Colors */

$link-color: $lt-brown;
$link-hover: $dk-gray;

$button-text: $white;
$button-bg: $lt-brown;

/**************************************************
 UNICODE CHARACTERS
**************************************************/

$vertical-bar: "\007C";
$bullet: "\2022";
$triangle-down: "\25BC";
$triangle-up: "\25B2";

/**************************************************
 SITE SPECIFIC
**************************************************/

$base-size: 10;
$side-padding: 5%;